<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table</title>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="table" ng-controller="TableController" ng-cloak>
    <h1>Dynamic Table Filter</h1>

    <!-- <input type="text" ng-model="desc2"> -->
    <input id="query" type="text" ng-model="myquery">

    <div id="fwindow" class="filterWindow" ng-show="filtering">
        <!-- <button ng-click="reset(flist)">Reset</button> -->
        <button ng-click="desc = ''">Reset</button>
        <!-- <button ng-click="getFilterItems(flist)">Get</button> -->
        <!-- <select id="select" ng-model="desc" ng-change="filtering = false"> -->
        <select id="select" ng-model="desc" ng-change="changeText()">
            <option value="" selected default>{{defaultText}}</option>
            <option ng-repeat="item in flist | unique: 'item.name'" value="{{item}}">{{item}}</option>
        </select>
    </div>

    <table id="table" class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description <span ng-mouseover="getSelect(flist, 2)">#</span></th>
            <th>Genre <span ng-click="getSelect(flist, 3)">#</span></th>
            <th>Duration <span ng-click="getSelect(flist, 4)">#</span></th>
        </tr>
        <!-- <tr ng-repeat="item in list | filter: desc2 | filter: desc"> -->
        <tr ng-repeat="item in list | filter: desc">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.genre}}</td>
            <td>{{item.duration}}</td>
        </tr>
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>