<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table</title>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="table" ng-controller="TableController" ng-cloak>
    <h1>Dynamic Table Filter</h1>

    <input id="query" type="text" ng-model="myquery">


    <table id="table" class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th style="position: relative;">Description
                <span ng-mouseover="getSelect(flist, 2)">#</span>
                <div id="fwindow" class="filterWindow" ng-show="filtering2" style="position: absolute; top: 30px; left: 0; background: rgba(0, 0, 0, .75);">
                    <button ng-click="desc = ''">Reset</button>
                    <select id="select" ng-model="descman" multiple ng-blur="filtering2 = false">
                        <option value="" selected default>{{defaultText}}</option>
                        <option ng-repeat="item in flist | unique: 'item.name'" value="{{item}}">{{item}}</option>
                    </select>
                </div>
            </th>

            <th style="position: relative;">Genre <span ng-mouseover="getSelect(flist, 3)">#</span>
                <div id="fwindow" class="filterWindow" ng-show="filtering3" style="position: absolute; top: 30px; left: 0; background: rgba(0, 0, 0, .75);">
                    <button ng-click="desc = ''">Reset</button>
                    <select id="select" ng-model="genreman" multiple ng-blur="filtering3 = false">
                        <option value="" selected default>{{defaultText}}</option>
                        <option ng-repeat="item in flist | unique: 'item.genre'" value="{{item}}">{{item}}</option>
                    </select>
                </div>
            </th>
            <th>Duration <span ng-click="getSelect(flist, 4)">#</span></th>
        </tr>
        <!-- <tr ng-repeat="item in list | filter: desc | mydesc: ['Nexus S']"> -->
        <tr ng-repeat="item in list | filter: desc | mydesc: descman | mydesc: genreman">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.genre}}</td>
            <td>{{item.duration}}</td>
        </tr>
    </table>

    **** {{descman}} ****
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>