body * {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

input {
    border: 1px solid #333;
    padding: 10px;
    width: 200px;
}

.table {
    border-collapse: collapse;
    margin: 50px auto 0;
}

.table input[type="text"] {
    border: none;
    outline: none;
}

th {
    background: turquoise;
    color: #fff;
    position: relative;
}

.filterWindow.absolute {
    position: absolute;
    top: 34px;
    right: 0;
}

th span:hover,
button:hover,
select:hover,
option:hover {
    cursor: pointer;
}

th, tr, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 9px 12px;
    text-align: center;
}